services:
  meshmap:
    image: node:22.18
    ports:
      - '3333:3333'
      - '5173:5173'
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/meshmap
      GIT_SHA: 'unknown'
      DEBUG_COLORS: true
    working_dir: /app
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    command: sh -c "yarn install --frozen-lockfile && yarn --verbose build && cd build && NODE_ENV=production node index.js"
  db:
    image: postgres:alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: meshmap
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  node_modules:
  pgdata:
