/*! leaflet css */
@import 'leaflet/dist/leaflet.css';
/*! markercluster */
@import 'leaflet.markercluster/dist/MarkerCluster.css';
/*! markercluster default */
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
/*! grouped layer control */
@import 'leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.css';

@import './tailwind.scss';
@import 'cooltipz-css/cooltipz.css';

html,
body {
  height: 100%;
  width: 100%;
}

[aria-label][data-cooltipz-dir]::after,
[aria-label][class*='cooltipz']::after {
  @apply z-[10000];
  @apply font-medium text-white rounded-md shadow-sm bg-black text-sm;
}

[aria-label][data-cooltipz-dir]::before,
[aria-label][class*='cooltipz']::before {
  @apply z-[10001];
}

[aria-label][data-cooltipz-dir][data-cooltipz-dir='bottom-right']::before {
  right: calc(var(--cooltipz-arrow-size, 0.3125rem) * 3);
  transform: translate(var(--cooltipz-arrow-offset, 0px), calc(var(--cooltipz-slide, 6px) * -1));
}

.leaflet-tooltip-pane a.button {
  color: inherit;
}

.leaflet-tooltip-pane a {
  @apply text-blue-700;
}

a {
  @apply text-blue-700;

  &:hover {
    @apply text-blue-500;
  }
}

a.button {
  @apply text-black;
}

.z-sidebar {
  @apply z-[1005];
}

.marker-location {
  &::after {
    @apply block w-0 border-[8px] border-solid border-transparent border-b-0 absolute -bottom-[8px];
    content: '';
    left: calc(50% - 8px);

    &.node-status-offline {
      @apply border-t-red-600;
    }

    &.node-status-online {
      @apply border-t-green-600;
    }

    &.node-status-disconnected {
      @apply border-t-purple-600;
    }
  }
}
