/*! leaflet css */
@import 'leaflet/dist/leaflet.css';
/*! markercluster */
@import 'leaflet.markercluster/dist/MarkerCluster.css';
/*! markercluster default */
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
/*! grouped layer control */
@import 'leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.css';
@import 'leaflet.polylinemeasure/Leaflet.PolylineMeasure.css';
@import './tailwind.scss';
@import 'react-tooltip/dist/react-tooltip.css';
@import 'react-toastify/dist/ReactToastify.css';

html,
body {
  height: 100%;
  width: 100%;
}

.react-tooltip {
  @apply z-[10000];
}

.leaflet-tooltip-pane a.button {
  color: inherit;
}

.leaflet-tooltip-pane a {
  @apply text-blue-700;
}

a,
.link {
  @apply text-blue-700;

  &:hover {
    @apply text-blue-500;
  }
}

a.button {
  @apply text-black;
}

.z-sidebar {
  @apply z-[1005];
}

.marker-location {
  &::after {
    @apply block w-0 border-[8px] border-solid border-transparent border-b-0 absolute -bottom-[8px];
    content: '';
    left: calc(50% - 8px);

    &.node-status-offline {
      @apply border-t-gray-600;
    }

    &.node-status-online {
      @apply border-t-green-600;
    }

    &.node-status-disconnected {
      @apply border-t-purple-600;
    }

    &.node-status-start-track {
      @apply border-t-blue-600;
    }

    &.node-status-end-track {
      @apply border-t-amber-600;
    }
  }
}

.polyline-measure-tooltip {
  @apply text-sm p-2;
}
