/*! leaflet css */
@import 'leaflet/dist/leaflet.css';
/*! markercluster */
@import 'leaflet.markercluster/dist/MarkerCluster.css';
/*! markercluster default */
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
/*! grouped layer control */
@import 'leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.css';

@import './tailwind.scss';
@import 'cooltipz-css/cooltipz.css';

html,
body {
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[aria-label][data-cooltipz-dir]::after,
[aria-label][class*='cooltipz']::after {
  @apply z-[10000];
  @apply font-medium text-white rounded-lg shadow-sm bg-black text-sm;
}

[aria-label][data-cooltipz-dir]::before,
[aria-label][class*='cooltipz']::before {
  @apply z-[10001];
}

.message-bubble {
  @apply bg-slate-200 px-2 py-2 mt-3 rounded-md;

  &:before {
    // show quotes
    content: '“';
    @apply font-serif text-4xl leading-[0];
  }
}

.leaflet-tooltip-pane a.button {
  color: inherit;
}

.leaflet-tooltip-pane a {
  color: unset;
}
