/*! leaflet css */
@import 'leaflet/dist/leaflet.css';
/*! markercluster */
@import 'leaflet.markercluster/dist/MarkerCluster.css';
/*! markercluster default */
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
/*! grouped layer control */
@import 'leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.css';

@import './tailwind.scss';
@import 'cooltipz-css/cooltipz.css';

html,
body {
  height: 100%;
  width: 100%;
}

[aria-label][data-cooltipz-dir]::after,
[aria-label][class*='cooltipz']::after {
  @apply z-[10000];
  @apply font-medium text-white rounded-lg shadow-sm bg-black text-sm;
}

[aria-label][data-cooltipz-dir]::before,
[aria-label][class*='cooltipz']::before {
  @apply z-[10001];
}

.message-bubble {
  @apply bg-slate-200 px-2 py-2 mt-3 rounded-md;

  &:before {
    // show quotes
    content: '“';
    @apply font-serif text-4xl leading-[0];
  }
}

.leaflet-tooltip-pane a.button {
  color: inherit;
}

.leaflet-tooltip-pane a {
  @apply text-blue-700;
}

a {
  @apply text-blue-700;

  &:hover {
    @apply text-blue-500;
  }
}

a.button {
  @apply text-black;
}

.header-action-buttons {
  svg {
    @apply w-6 h-6;
  }
}

.z-sidebar {
  @apply z-[1005];
}
